<header class="header" id="header">
  <div class="header-mobile">
    <div class="container">
      <div class="header-mobile__inner">
        <a href="index.html" class="header__logo logo">
          <picture class="header__logo-picture logo__picture">
            <source srcset="assets/img/icons/logo.svg" type="image/svg" />
            <img src="assets/img/icons/logo.png" />
          </picture>
          <div class="logo__text header__logo-text">
            <span>здравум</span>
            <p class="header__logo-name">Наркологическая клиника</p>
          </div>
        </a>
        <button class="burger__menu">
          <span> </span>
        </button>
      </div>
    </div>
  </div>

  <div class="header__wrapper">
    <div class="header__center">
      <div class="container">
        <div class="header__inner">
          <a href="index.html" class="header__logo logo logo-desktop">
            <picture class="header__logo-picture logo__picture">
              <source srcset="assets/img/icons/logo.svg" type="image/svg" />
              <img src="assets/img/icons/logo.png" />
            </picture>
            <div class="logo__text header__logo-text">
              <span>здравум</span>
              <p class="header__logo-name">Наркологическая клиника</p>
            </div>
          </a>
          <ul class="header__nav">
            <li class="header__nav-item">
              <button class="header__service-btn">О клинике</button>
              <div class="header__service tabbs">
                <ul class="header__service-tabbs">
                  <li>
                    <a href="#">О нас</a>
                  </li>
                  <li>
                    <a href="#">Фотогалерея</a>
                  </li>
                  <li>
                    <a href="#">Специалисты</a>
                  </li>
                  <li>
                    <a href="#">Контакты</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="header__nav-item">
              <button class="header__service-btn">Услуги</button>
              <div class="header__service tabbs">
                <ul class="header__service-tabbs">
                  <li>
                    <a href="#">Капельница</a><button class="header__tabb tabb"></button>
                    <div class="tabb__content header__service-item">
                      <div class="header__list">
                        <ul>
                          <li class="header__list-link">
                            <a href="#">Капельница</a>
                          </li>
                          <li class="header__list-link">
                            <a href="#">Вывод из запоя</a>
                          </li>
                          <li class="header__list-link">
                            <a href="#">Нарколог на дом</a>
                          </li>
                          <li class="header__list-link">
                            <a href="#">Наркомания</a>
                          </li>
                          <li class="header__list-link">
                            <a href="#">Реабилитация</a>
                          </li>
                          <li class="header__list-link">
                            <a href="#">Алкоголизм</a>
                          </li>
                          <li class="header__list-link">
                            <a href="#">Вывод из запоя</a>
                          </li>
                          <li class="header__list-link">
                            <a href="#">Нарколог на дом</a>
                          </li>
                          <li class="header__list-link">
                            <a href="#">Наркомания</a>
                          </li>
                          <li class="header__list-link">
                            <a href="#">Реабилитация</a>
                          </li>
                          <li class="header__list-link">
                            <a href="#">Алкоголизм</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                  <li>
                    <a href="#">Вывод из запоя</a><button class="header__tabb tabb"></button>
                    <div class="tabb__content header__service-item">
                      <div class="header__list">
                        <ul>
                          <li class="header__list-link">
                            <a href="#">Нарколог на дом</a>
                          </li>
                          <li class="header__list-link">
                            <a href="#">Наркомания</a>
                          </li>
                          <li class="header__list-link">
                            <a href="#">Реабилитация</a>
                          </li>
                          <li class="header__list-link">
                            <a href="#">Нарколог на дом</a>
                          </li>
                          <li class="header__list-link">
                            <a href="#">Наркомания</a>
                          </li>
                          <li class="header__list-link">
                            <a href="#">Реабилитация</a>
                          </li>
                          <li class="header__list-link">
                            <a href="#">Алкоголизм</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                  <li>
                    <a href="#">Нарколог на дом</a><button class="header__tabb tabb"></button>
                    <div class="tabb__content header__service-item">
                      <div class="header__list">
                        <ul>
                          <li class="header__list-link">
                            <a href="#">Нарколог на дом</a>
                          </li>
                          <li class="header__list-link">
                            <a href="#">Наркомания</a>
                          </li>
                          <li class="header__list-link">
                            <a href="#">Реабилитация</a>
                          </li>
                          <li class="header__list-link">
                            <a href="#">Алкоголизм</a>
                          </li>
                          <li class="header__list-link">
                            <a href="#">Вывод из запоя</a>
                          </li>
                          <li class="header__list-link">
                            <a href="#">Нарколог на дом</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                  <li>
                    <a href="#">Кодирование</a><button class="header__tabb tabb"></button>
                    <div class="tabb__content header__service-item">
                      <div class="header__list">
                        <ul>
                          <li class="header__list-link">
                            <a href="#">Нарколог на дом</a>
                          </li>
                          <li class="header__list-link">
                            <a href="#">Наркомания</a>
                          </li>
                          <li class="header__list-link">
                            <a href="#">Реабилитация</a>
                          </li>
                          <li class="header__list-link">
                            <a href="#">Алкоголизм</a>
                          </li>
                          <li class="header__list-link">
                            <a href="#">Вывод из запоя</a>
                          </li>
                          <li class="header__list-link">
                            <a href="#">Нарколог на дом</a>
                          </li>
                          <li class="header__list-link">
                            <a href="#">Вывод из запоя</a>
                          </li>
                          <li class="header__list-link">
                            <a href="#">Нарколог на дом</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                  <li>
                    <a href="#">Наркомания</a><button class="header__tabb tabb"></button>
                    <div class="tabb__content header__service-item">
                      <div class="header__list">
                        <ul>
                          <li class="header__list-link">
                            <a href="#">Наркомания</a>
                          </li>
                          <li class="header__list-link">
                            <a href="#">Реабилитация</a>
                          </li>
                          <li class="header__list-link">
                            <a href="#">Алкоголизм</a>
                          </li>
                          <li class="header__list-link">
                            <a href="#">Вывод из запоя</a>
                          </li>
                          <li class="header__list-link">
                            <a href="#">Нарколог на дом</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                  <li>
                    <a href="#">Реабилитация</a><button class="header__tabb tabb"></button>
                    <div class="tabb__content header__service-item">
                      <div class="header__list">
                        <ul>
                          <li class="header__list-link">
                            <a href="#">Нарколог на дом</a>
                          </li>
                          <li class="header__list-link">
                            <a href="#">Наркомания</a>
                          </li>
                          <li class="header__list-link">
                            <a href="#">Реабилитация</a>
                          </li>
                          <li class="header__list-link">
                            <a href="#">Алкоголизм</a>
                          </li>
                          <li class="header__list-link">
                            <a href="#">Вывод из запоя</a>
                          </li>
                          <li class="header__list-link">
                            <a href="#">Нарколог на дом</a>
                          </li>
                          <li class="header__list-link">
                            <a href="#">Вывод из запоя</a>
                          </li>
                          <li class="header__list-link">
                            <a href="#">Нарколог на дом</a>
                          </li>
                          <li class="header__list-link">
                            <a href="#">Вывод из запоя</a>
                          </li>
                          <li class="header__list-link">
                            <a href="#">Нарколог на дом</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                  <li>
                    <a href="#">Алкоголизм</a><button class="header__tabb tabb"></button>
                    <div class="tabb__content header__service-item">
                      <div class="header__list">
                        <ul>
                          <li class="header__list-link">
                            <a href="#">Нарколог на дом</a>
                          </li>
                          <li class="header__list-link">
                            <a href="#">Наркомания</a>
                          </li>
                          <li class="header__list-link">
                            <a href="#">Реабилитация</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
            <li class="header__nav-item">
              <button class="header__service-btn">Прайс-лист</button>
              <div class="header__service tabbs">
                <ul class="header__service-tabbs">
                  <li>
                    <a href="#">О нас</a>
                  </li>
                  <li>
                    <a href="#">Фотогалерея</a>
                  </li>
                  <li>
                    <a href="#">Специалисты</a>
                  </li>
                  <li>
                    <a href="#">Контакты</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="header__nav-item">
              <button class="header__service-btn">Блог</button>
              <div class="header__service tabbs">
                <ul class="header__service-tabbs">
                  <li>
                    <a href="#">О нас</a>
                  </li>
                  <li>
                    <a href="#">Фотогалерея</a>
                  </li>
                  <li>
                    <a href="#">Специалисты</a>
                  </li>
                  <li>
                    <a href="#">Контакты</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="header__nav-item">
              <a href="#" class="header__link">FAQ</a>
            </li>
            <li class="header__nav-item">
              <a href="#" class="header__link">Контакты</a>
            </li>
            <li class="header__nav-item">
              <a href="#" class="header__link">Карта сайта</a>
            </li>
          </ul>
          <div class="header__location">
            <picture class="header__location-picture">
              <source srcset="assets/img/icons/location.svg" type="image/svg" />
              <img src="assets/img/icons/location.png" />
            </picture>
            <div class="header__location-text">
              <p class="header__location-small">Aдреc</p>
              <button data-path="popup__city" class="popup-btn header__location-btn">Астрахань, Немировича-Данченко,
                197а</button>
            </div>
          </div>
          <div class="header__btns">
            <a href="tel:+78005553535" class="standart-btn secondary-btn header__btn">
              8 800 555-35-35
            </a>
            <button class="popup-btn standart-btn primary-btn header__btn" data-path="popup-change">
              Обратный звонок
            </button>
          </div>
        </div>
      </div>
    </div>

    <section class="header-contacts only-mobile">

      <div class="header-contacts__inner">

        <div class="header-contacts__item-wrap">
          <div class="header-contacts__item">

            <div class="header-contacts__title">Номер круглосуточной помощи</div>
            <a href="tel:+78005553535" class="header-contacts__value header-contacts__phone">8 800 555-35-35</a>
          </div>
        </div>
        <div class="header-contacts__item-wrap">
          <div class="header-contacts__item">
            <div class="header-contacts__title">Электронная почта</div>
            <a href="mailto:info@zdravum.ru" class="header-contacts__value contacts__email">info@zdravum.ru</a>
          </div>
        </div>
        <div class="header-contacts__item-wrap">
          <div class="header-contacts__item">
            <div class="header-contacts__title">Адрес клиники</div>
            <div class="header-contacts__value contacts__address">
              <span>г. Санкт-Петербург,</span>
              <span>ул. Коммунистическая 130</span>
            </div>
          </div>
        </div>

        <div class="header-contacts__item-wrap">
          <div class="header__social header-contacts__item">
            <span class="header-contacts__title">Наши социальные сети:</span>
            <div class="header__social-inner social">
              <a href="#" class="social__link">
                <picture class="social__picture">
                  <source srcset="assets/img/icons/social/wa.svg" type="image/svg+xml" />
                  <img src="assets/img/icons/social/wa.png" alt="whatsapp" />
                </picture>
              </a>
              <a href="#" class="social__link">
                <picture class="social__picture">
                  <source srcset="assets/img/icons/social/tg.svg" type="image/svg+xml" />
                  <img src="assets/img/icons/social/tg.png" alt="telegram" />
                </picture>
              </a>
              <a href="#" class="social__link">
                <picture class="social__picture">
                  <source srcset="assets/img/icons/social/vk.svg" type="image/svg+xml" />
                  <img src="assets/img/icons/social/vk.png" alt="vkontakte" />
                </picture>
              </a>
            </div>
          </div>

        </div>
      </div>
    </section>

</header>