<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="assets/css/build/swiper.min.css">
<link rel="stylesheet" href="assets/css/build/fancybox.min.css">
<link rel="stylesheet" href="assets/css/style.min.css">


<title>Здравум</title>
<meta name='keywords' content='' />
<meta name='description' content='' />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
<link rel="icon" href="assets/img/favicon.ico" type="image/x-icon">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="preload" href="assets/img/intro/doctor.png" as="image">
<link rel="preload" href="assets/img/intro/doctor.webp" as="image">
<script src="assets/js/swiper-bundle.min.js" defer></script> 
<script src="assets/js/fancybox.min.js" defer></script>
<script src="assets/js/app.js" defer></script>
<script> </script>
