<div class="popup" data-target="popup__call">
  <div class="popup__body">
    <div class="popup__content">
      <picture class="close close-popup">
        <source srcset="assets/img/icons/close.svg" type="image/svg+xml" />
        <img src="assets/img/icons/close.png" alt="close_popup" />
      </picture>
      <p class="popup__title">Оставьте заявку!</p>
      <p class="popup__subtitle">И мы перезвоним в течние одной минуты</p>

      <form class="form popup__form">
        <input
          type="text"
          class="form__input popup__input"
          placeholder="Ваше имя"
          required
        />
        <input
          type="tel"
          class="form__input popup__input"
          placeholder="+7 (___)___-__-__"
          required
        />
        <button
          class="standart-btn primary-btn form__btn popup__btn"
          type="submit"
        >
          <span>Оставить заявку</span>
        </button>
        <p class="form__politic popup__politic">
          Нажимая кнопку «Оставить заявку», вы соглашаетесь с
          <a href="#" rel="nofollow">политикой конфиденциальности</a>
        </p>
      </form>
    </div>
  </div>
</div>

<div class="popup" data-target="popup-change">
  <div class="popup__body">
    <div class="popup__content">
      <picture class="close close-popup">
        <source srcset="assets/img/icons/close.svg" type="image/svg+xml" />
        <img src="assets/img/icons/close.png" alt="close_popup" />
      </picture>
      <p class="popup__title original-title">Оставьте заявку!</p>
      <p class="popup__subtitle original-subtitle">И мы перезвоним в течние одной минуты</p>
      <form class="form popup__form">
        <input
          type="text"
          class="form__input popup__input"
          placeholder="Ваше имя"
          required
        />
        <input
          type="tel"
          class="form__input popup__input"
          placeholder="+7 (___)___-__-__"
          required
        />
        <button
          class="standart-btn primary-btn form__btn popup__btn"
          type="submit"
        >
          <span>Оставить заявку</span>
        </button>
        <p class="form__politic popup__politic">
          Нажимая кнопку «Оставить заявку», вы соглашаетесь с
          <a href="#" rel="nofollow">политикой конфиденциальности</a>
        </p>
      </form>
    </div>
  </div>
</div>

<div class="popup" data-target="popup__doc">
  <div class="popup__body">
    <div class="popup__content">
      <picture class="close close-popup">
        <source srcset="assets/img/icons/close.svg" type="image/svg+xml" />
        <img src="assets/img/icons/close.png" alt="close_popup" />
      </picture>
      <p class="popup__title original-title">Вызвать врача</p>
      <p class="popup__subtitle">
        Оставьте заявку и мы перезвоним в течние одной минуты
      </p>
      <form class="form popup__form">
        <input
          type="text"
          class="form__input popup__input"
          placeholder="Ваше имя"
          required
        />
        <input
          type="tel"
          class="form__input popup__input"
          placeholder="+7 (___)___-__-__"
          required
        />
        <button
          class="standart-btn primary-btn form__btn popup__btn"
          type="submit"
        >
          <span>Оставить заявку</span>
        </button>
        <p class="form__politic popup__politic">
          Нажимая кнопку «Оставить заявку», вы соглашаетесь с
          <a href="#" rel="nofollow">политикой конфиденциальности</a>
        </p>
      </form>
    </div>
  </div>
</div>

<div class="popup" data-target="popup__consult">
  <div class="popup__body">
    <div class="popup__content popup__content-consult">
      <picture class="close close-popup">
        <source srcset="assets/img/icons/close.svg" type="image/svg+xml" />
        <img src="assets/img/icons/close.png" alt="close_popup" />
      </picture>
      <p class="popup__title original-title">
        Получите консультацию специалиста бесплатно
      </p>
      <p class="popup__subtitle">
        По телефону врач соберет первичный анамнез, сформирует бригаду, сообщит
        о точной стоимости процедуры и времени прибытия нарколога.
      </p>
      <form class="form popup__form">
        <input
          type="text"
          class="form__input popup__input"
          placeholder="Ваше имя"
          required
        />
        <input
          type="tel"
          class="form__input popup__input"
          placeholder="+7 (___)___-__-__"
          required
        />
        <button
          class="standart-btn primary-btn form__btn popup__btn"
          type="submit"
        >
          <span>Отправить</span>
        </button>
        <p class="form__politic popup__politic">
          Нажимая кнопку «Отправить», вы соглашаетесь с
          <a href="#" rel="nofollow">политикой конфиденциальности</a>
        </p>
      </form>
    </div>
  </div>
</div>

<div class="popup" data-target="popup__review">
  <div class="popup__body">
    <div class="popup__content popup__content-reviews">
      <picture class="close close-popup">
        <source srcset="assets/img/icons/close.svg" type="image/svg+xml" />
        <img src="assets/img/icons/close.png" alt="close" />
      </picture>
      <div class="reviews__item reviews__item_original">
        <div class="reviews__header reviews__header_original"></div>
        <div class="reviews__text reviews__text_original"></div>
        <div class="reviews__bottom reviews__bottom_original"></div>
      </div>
    </div>
  </div>
</div>

<div class="popup" data-target="popup__city">
  <div class="popup__body">
    <div class="popup__content search-wrapper popup__content_city">
      <picture class="close close-popup">
        <source srcset="assets/img/icons/close.svg" type="image/svg+xml" />
        <img src="assets/img/icons/close.png" alt="close_popup" />
      </picture>
      <p class="popup__title">Выберите свой город</p>
      <form class="popup__form-city form popup__form">
        <input
          type="search"
          class="popup__input-city form__input"
          placeholder="Введите название города"
        />
      </form>
      <ul class="city search-list">
        <li><a href="#" class="search-list__name">Челябинск</a></li>
        <li><a href="#" class="search-list__name">Москва</a></li>
        <li><a href="#" class="search-list__name">Санкт-Петербург</a></li>
        <li><a href="#" class="search-list__name">Казань</a></li>
        <li><a href="#" class="search-list__name">Ростов-на-Дону</a></li>
        <li><a href="#" class="search-list__name">Казань</a></li>
        <li><a href="#" class="search-list__name">Ростов-на-Дону</a></li>
        <li><a href="#" class="search-list__name">Москва</a></li>
        <li><a href="#" class="search-list__name">Ростов-на-Дону</a></li>
        <li><a href="#" class="search-list__name">Санкт-Петербург</a></li>
        <li><a href="#" class="search-list__name">Челябинск</a></li>
        <li><a href="#" class="search-list__name">Москва</a></li>
        <li><a href="#" class="search-list__name">Санкт-Петербург</a></li>
        <li><a href="#" class="search-list__name">Казань</a></li>
        <li><a href="#" class="search-list__name">Ростов-на-Дону</a></li>
        <li><a href="#" class="search-list__name">Казань</a></li>
        <li><a href="#" class="search-list__name">Ростов-на-Дону</a></li>
        <li><a href="#" class="search-list__name">Москва</a></li>
        <li><a href="#" class="search-list__name">Ростов-на-Дону</a></li>
        <li><a href="#" class="search-list__name">Санкт-Петербург</a></li>
        <li><a href="#" class="search-list__name">Челябинск</a></li>
        <li><a href="#" class="search-list__name">Москва</a></li>
        <li><a href="#" class="search-list__name">Санкт-Петербург</a></li>
        <li><a href="#" class="search-list__name">Казань</a></li>
        <li><a href="#" class="search-list__name">Ростов-на-Дону</a></li>
        <li><a href="#" class="search-list__name">Казань</a></li>
        <li><a href="#" class="search-list__name">Ростов-на-Дону</a></li>
        <li><a href="#" class="search-list__name">Москва</a></li>
        <li><a href="#" class="search-list__name">Ростов-на-Дону</a></li>
        <li><a href="#" class="search-list__name">Санкт-Петербург</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="popup" data-target="popup__review-call">
  <div class="popup__body">
    <div class="popup__content">
      <picture class="close close-popup">
        <source srcset="assets/img/icons/close.svg" type="image/svg+xml" />
        <img src="assets/img/icons/close.png" alt="close_popup" />
      </picture>
      <p class="popup__title">Оставьте отзыв о работе наших специалистов</p>
      <p class="popup__subtitle">
        Оставляя отзыв, Вы помогаете нам стать лучше.
      </p>
      <form class="form popup__form">
        <input
          type="text"
          class="form__input popup__input"
          placeholder="Ваше имя"
          required
        />
        <textarea
          type="text"
          placeholder="Текст отзыва"
          class="popup__textarea"
        ></textarea>
        <button
          class="standart-btn primary-btn form__btn popup__btn"
          type="submit"
        >
          <span>Отправить</span>
        </button>
        <p class="form__politic popup__politic">
          Нажимая кнопку "Отправить", вы соглашаетесь с
          <a href="#" rel="nofollow">политикой конфиденциальности</a>
        </p>
      </form>
    </div>
  </div>
</div>
<div class="popup" data-target="popup__question">
  <div class="popup__body">
    <div class="popup__content">
      <picture class="close close-popup">
        <source srcset="assets/img/icons/close.svg" type="image/svg+xml" />
        <img src="assets/img/icons/close.png" alt="close_popup" />
      </picture>
      <p class="popup__title">Задать вопрос специалистам</p>
      <p class="popup__subtitle">Задайте вопрос нашему специалисту.</p>
      <form class="form popup__form">
        <input
          type="text"
          class="form__input popup__input"
          placeholder="Ваше имя"
          required
        />
        <input
          type="tel"
          class="form__input popup__input"
          placeholder="+7 (___)___-__-__"
          required
        />
        <textarea placeholder="Вопрос" class="popup__textarea"></textarea>
        <button
          class="standart-btn primary-btn form__btn popup__btn"
          type="submit"
        >
          <span>Отправить</span>
        </button>
        <p class="form__politic popup__politic">
          Нажимая кнопку "Отправить", вы соглашаетесь с
          <a href="#" rel="nofollow">политикой конфиденциальности</a>
        </p>
      </form>
    </div>
  </div>
</div>

<div class="popup" data-target="popup__response">
  <div class="popup__body">
    <div class="popup__content popup__content-response">
      <picture class="close close-popup">
        <source srcset="assets/img/icons/close.svg" type="image/svg+xml" />
        <img src="assets/img/icons/close.png" alt="close_popup" />
      </picture>
      <div class="popup__response-wrap">
        <picture>
          <source srcset="assets/img/icons/sent.svg" type="image/svg+xml" />
          <img src="assets/img/icons/sent.png" alt="user" />
        </picture>
        <p class="popup__title">Спасибо за вашу заявку!</p>
        <p class="popup__subtitle">
          Дежурный специалист свяжется с вами в течение 1 минуты
        </p>
        <a href="#"
          >Узнайте, какую помощь можно оказать больному до приезда врача.</a
        >
      </div>
    </div>
  </div>
</div>


<div class="popup" data-target="popup__error">
    <div class="popup__body">
      <div class="popup__content popup__content-response">
        <picture class="close close-popup">
          <source srcset="assets/img/icons/close.svg" type="image/svg+xml" />
          <img src="assets/img/icons/close.png" alt="close_popup" />
        </picture>
        <div class="popup__response-wrap">
          <picture>
            <source srcset="assets/img/icons/error.svg" type="image/svg+xml" />
            <img src="assets/img/icons/error.png" alt="user" />
          </picture>
          <p class="popup__title">Произошла ошибка</p>
          <p class="popup__subtitle">
            Попробуйте оставить заявку снова позже
          </p>
        </div>
      </div>
    </div>
  </div>

